body{
  background: navajowhite;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif; 
}

.container {
  display: inline-block;
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blinking .8s infinite;
  font-size: 1.6rem;
  width: 0;
}

/* animation for typing */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

/* animation for the blinking cursor */
@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }